body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgb(218, 209, 241);
    padding: 30px;
    border-radius: 12px;
    width: 400px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

}

h1{
    text-align: center;

}

.formulario{
    display: flex;
    gap:10px;
}

input{
    background: rgb(179, 179, 245);
    flex: 1;
    padding: 10px;

}

button{
    background: rgb(229, 188, 248);
    padding: 10px 15px;
    cursor: pointer;
}

li{
    display: flex;
    justify-content: space-between;
    background: #b1abfa;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
}

.done{
    text-decoration: line-through;
    color: gray;
}
